html{
    width: 960px;
    margin: 0 auto;
    
}

#top, #home-p2, #home-p3, #footer {
    
    
    

	
}
.container{
    width:960px;
    max-width: 500px;
    margin: auto;

    
}

#footer{
   /*
    background-color: #ffeeba;
    background-color: #2196f3; /* I love this blue */
    background-color: #0b76be;
    background-color: #800020;
    background-color: #404040;
    color: #ffffff;
    border-top: 3px solid #222;
    border-bottom: 24px solid #634d4d;
    
    
    
   /* top:2620px;*/
    
    
    /* color: #17a2b8;
    position: absolute;
    width: 930px;
    top: 450%;
    color: #ffffff;
    color: #007bff;
    margin-left: 10px;
   */ 

    
}
.display-3, .display-4,.info{
    text-align: center;
}

#top{
    /*clear: both;   */
    
    
    background-image: url("../images/mtolive.png");
    background-image: url("../images/graphic2.png");
    background-repeat: no-repeat;
    margin-top: 1px;
   /* width: 960px; */
    height: 280px;
    /* padding-bottom: 50%;
   
    
    height: 600px;*/
    
}

#nav{
   
    margin-top: 40px;
    margin-left: 16px;
    
}
.nav-link{
    font-size: large;
}

#mid-section{
    clear: both;
    
    
    background-image: url("../images/church3.png");
    background-image: url("../images/36926646916_5eeef40750_o.jpg");
    background-image: url("../images/18981837903_586eeb43f2_o.jpg");
    /*background-image: url("../images/church3.png"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    height: 400px;
    
    width: 100%;
    
   /* width: 960px;*/
}


#home-p2, #home-p3
{ 
    
   
   /* 
   position: absolute;
    width: 930px; 
   margin-left: 10px;
    margin-right: 10px;*/
    color: #ffffff;
    color: #222;
    
}
#home-text{
    clear: both;
    height: 200px;
    margin-left: 150px;
    padding-top:  100px;
    font-size: 40px;
    color: #ffffff;
    /*font-weight: bolder;
    font-style: unset;*/
/* margin-top: 80px;color: #0f67b3;*/
}
#logo{
    margin-top: 45px;
    margin-left: 20px;
}